<!DOCTYPE html>
<html>
<head>
    <title>DM Puzzles {% if page.title %}- {{ page.title }}{% endif %}</title>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
    <link rel="stylesheet" type="text/css" href="/dm-puzzles.min.css">
</head>
<body>
    {% if page.title %}
        <div class="container">
            <a href="/">&lt; Homepage</a>
        </div>
    {% endif %}
    <div class="container">
        {{ content }}
    </div>
</body>
</html>
