<!DOCTYPE html>
<html>
<head>
    <title>DM Puzzles {% if page.title %}- {{ page.title }}{% endif %}</title>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/dm-puzzles.css">
</head>
<body>
    {% if page.title %}
        <div class="container">
            <a href="{{ site.baseurl }}/">&lt; Homepage</a>
        </div>
    {% endif %}
    <div class="container">
        {{ content }}
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="{{ site.baseurl }}/js/main.js"></script>
</body>
</html>
