<!DOCTYPE html>
<html>
<head>
    <title>DM Puzzles {% if page.title %}- {{ page.title }}{% endif %}</title>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
    <link rel="stylesheet" type="text/css" href="http://dailymotion.github.io/puzzles/css/dm-puzzles.css">
</head>
<body>
    {% if page.title %}
        <div class="container">
            <a href="http://dailymotion.github.io/puzzles/">&lt; Homepage</a>
        </div>
    {% endif %}
    <div class="container">
        {{ content }}
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="http://dailymotion.github.io/puzzles/js/main.js"></script>
</body>
</html>
